body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Özelleştirilmiş tablo stilleri */
.rTable {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rTableHeader {
  display: table-header-group;
  background-color: #ccc;
}

.rTableBody {
  display: table-row-group;
}

.rTableRow {
  display: table-row;
}

.rTableCell {
  display: table-cell;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 480px) {
  .rTableHeader {
    display: none;
  }

  .rTableCell {
    display: block;
    border: none;
  }
}
.truncate-input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  